{% extends "index.html" %}
{% load static %}
{% block content %}
<div id="layoutSidenav_content">
    <div class="row">
        <div class="col-xl-12">
        </div>
        <div class="col-xl-12">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    BASE: USD
                </div>
                {% for key, value in currency_list.items %}
                <p><strong>{{ key }}:</strong> {{ value }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}