{% extends "index.html" %}
{%load static%}
{% block content %}
<div id="layoutSidenav_content">
<main>

    <div class="container-fluid px-4">
        <h1 class="mt-4">Case Handler</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Tables</li>
        </ol>
        <hr>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Export Report
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'export_csv' 1 %}">This Month</a></li>
                <li><a class="dropdown-item" href="{% url 'export_csv' 2 %}">Last Month</a></li>
                <li><a class="dropdown-item" href="{% url 'export_to_csv' %}">All</a></li>
              </ul>
            </div>
            <div>
            <a class="btn btn-primary" href="{% url 'show_own_incident' %}">Own Cases</a> 
            </div>
          </div>
          
<style>
    .btn-group > div:last-child {
      margin-left: 10px;
    }
  </style>
          <hr>
        <br>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Cases<br>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Caller</th>
                            <th>State</th>
                            <th>Created</th>
                            <th>Assigned to</th>
                            <th>Priority</th>
                            <th>Updated</th>
                            <th>Options</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Caller</th>
                            <th>State</th>
                            <th>Created</th>
                            <th>Assigned to</th>
                            <th>Priority</th>
                            <th>Updated</th>
                            <th>Options</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for incident in object_list %}
                        <tr>
                            <td>{{ incident.incident_number }}</td>
                            <td>{{ incident.case_creator }}</td>
                            <td>{{ incident.incident_state }}</td>
                            <td>{{ incident.registration_date }}</td>
                            <td>{{ incident.review_operator }}</td>
                            <td>{{ incident.case_priority }}</td>
                            <td>{{ incident.case_update }}</td>
                            <td> <a href="{% url 'incident_details' incident.incident_number %}"><i class="fas fa-scroll" title="See Case"></i></a> <a href="{% url 'update_incident' incident.incident_number %}"><i class="fas fa-screwdriver" title="Update"></i></a>            
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>




{% endblock content %}