{% extends "index.html" %}
{% load static %}
{% block content %}
<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Domain Search</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Tables</li>
        </ol>

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Domain Search
            </div>
<div>
    <form action="{% url 'search_domain' %}" method="post">
      {% csrf_token %}
      <input type="text" name="name_to_search">          
      <input type="submit" value="Search">
    </form>
</div>
</div>
{% endblock content %}